html {
  font-size: 62.5%;
  --button-color: #261a4b;
  margin: 0 0;
  padding: 0 0;
}

body {
  display: grid;
  place-items: center;
  font-family: "DM Sans", sans-serif;
  padding: 0 0;
  margin: 0 0;
  overflow: hidden;
  background: linear-gradient(#cbf4fb, #fac4ee);
  height: 100dvh;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 100%;
  margin: 0 0;
  padding: 0 0;
}

.title-instructions {
  text-align: center;
  text-wrap: pretty;
  max-width: 90dvw;
  margin: 0 0;
  padding: 0 0;
  max-height: 30%;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.5rem;
  margin: 0 0;
}

p {
  font-weight: 300;
  font-size: 1.6rem;
  margin: 0 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 0;
  max-height: 70%;
}
section .arrow-btn {
  padding: 1em 1em;
  aspect-ratio: 1/1;
  height: 10dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-style: none;
  border-radius: 50%;
  transition: transform 0.5s, background-color 0.5s;
}
section .arrow-btn:hover {
  transform: scale(1.1);
  background: var(--button-color);
}
section .arrow-btn:hover .arrow path {
  fill: rgba(255, 255, 255, 0.9);
}
section .arrow {
  aspect-ratio: 1/1;
  width: 70%;
  rotate: 90deg;
}
section .arrow path {
  fill: #261a4b;
  transition: fill 0.5s;
}
section .album {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 1em;
  gap: 1em;
  padding: 0 0;
}
section .album .cover-frame {
  width: 40dvh;
  height: 40dvh;
  box-shadow: 0 0 10vw white;
  overflow: hidden;
  transform: background-position 0.3s;
  display: flex;
  justify-content: start;
  margin: 0 0;
}
section .album .cover-banner {
  width: 40dvh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 0;
}
section .album .cover-banner .cover-img {
  height: 40dvh;
  width: 40dvh;
  margin: 0 0;
}
section .album .names-frame {
  width: 40dvh;
  padding: 0 0;
  margin: 0 0;
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}
section .album .names-banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  margin: 0 0;
}
section .album .names-banner .name-container {
  display: flex;
  justify-content: center;
  width: 40dvh;
  height: 3rem;
  padding: 0 0;
  margin: 0 0;
  text-align: center;
}
section .album .names-banner .name-container .name-txt {
  font-size: 2rem;
  margin: 0 0;
  padding: 0 0;
  text-wrap: pretty;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .wrapper {
    min-height: 80dvh;
  }
  .title-instructions {
    max-width: 100dvw;
  }
  section {
    height: 70dvh;
  }
  section .arrow-btn {
    height: max(5em, 10dvh);
  }
}
@media only screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  .wrapper {
    min-height: 70%;
    align-self: center;
    overflow: visible;
    justify-content: space-between;
  }
  section {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    min-width: 70dvw;
    max-height: 100%;
  }
  section .arrow-btn {
    height: 9dvw;
  }
  section .arrow {
    rotate: none;
  }
  section .album .cover-frame {
    width: 27dvw;
    height: 27dvw;
    box-shadow: 0 0 1dw white;
  }
  section .album .cover-banner {
    height: 27dvw;
  }
  section .album .cover-img {
    width: 27dvw;
    height: 27dvw;
  }
}/*# sourceMappingURL=main.css.map */