
html {
    font-size: 62.5%; 
    --button-color: #261a4b;
}

body {
    display: grid; 
    //display: flex; 
    place-items: center; 
    font-family: 'DM Sans', sans-serif; 
    padding: 0 0; 
    margin: 0 0; 
    overflow: hidden; 
    background: linear-gradient(#cbf4fb, #fac4ee);
    height: 100dvh; 
}

.wrapper {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    //min-height: 80%; 
    max-height: 100%;  
    margin: 0 0; 
    padding: 0 0; 
}

.title-instructions {
    text-align: center; 
    text-wrap: pretty; 
    max-width: 90dvw; 
    margin: 0 0; 
    max-height: 30dvh; 
    //min-height: 10dvh; 
}

h1 {
    text-transform: uppercase; 
    //text-wrap: balance; 
    font-weight: 700; 
    font-size: 3.5rem; 
    margin: 0 0; 
}

p {
   // text-transform: uppercase; 
    font-weight: 300; 
    font-size: 1.6rem; 
    margin: 0 0;
}

// mobile css
section {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
    margin-top: 1em; 
    margin-bottom: 0 0;
    max-height: 70dvh; 
    //min-height: 60dvh; 
    //gap: 1em; 

    .arrow-btn {
        //margin: 1em 0; 
        margin: 0 0; 
        padding: 1em 1em;
        aspect-ratio: 1 / 1; 
        //width: 12dvh; //min(7em, 13dvh); 
        height: min(7em, 12dvh);  //min(7em, 13dvh); 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        background-color: rgba(255, 255, 255, .3); 
        border-style: none;
        border-radius: 50%; 
        transition: transform 0.5s, background-color 0.5s;  


        &:hover {
            transform: scale(1.1);
            background: var(--button-color);

            .arrow {
                path {
                    fill: rgba(255, 255, 255, .9);
                }
            }
        }
    }

    .arrow {
        aspect-ratio: 1 / 1;
        width: 70%; 
        //height: 70%; 
        rotate: 90deg; 

        path {
            fill: #261a4b; 
            transition: fill 0.5s; 
        }
    }

    .album {
        // width: 70vw; 
        // height: 70vw; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        margin: 1em 1em; 
        gap: 1em; 
        padding: 0 0; 

        .album-cover {
            width: 40dvh; 
            height: 40dvh; 
            box-shadow: 0 0 10vw white; 
        }

        .album-name {
            font-size: 2rem; 
            margin: 0 0; 
            padding: 0 0; 
            //margin-bottom: 1em; 
        }
    }
} 

@media only screen and (min-width: 600px) {
    .wrapper {
        min-height: 80dvh; 
    }

    .title-instructions {
        max-width: 100dvw;
        //max-height: 20dvh;  
    }
    section {
        height: 70dvh; 
        //max-height: 80dvh; 

        .arrow-btn {
            height: max(5em, 10dvh);
        }
    }
}

