
html {
    font-size: 62.5%; 
    --button-color: #261a4b;
}

body {
    display: grid; 
    place-content: center; 
    font-family: 'DM Sans', sans-serif; 
    padding: 1em 1em; 
    overflow-x: hidden; 
    background: linear-gradient(#cbf4fb, #fac4ee);
}

.wrapper {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
}

.title-instructions {
    text-align: center; 
    text-wrap: balance; 
    max-width: 90vw; 
}

h1 {
    text-transform: uppercase; 
    //text-wrap: balance; 
    font-weight: 700; 
    font-size: 3.5rem; 
    margin: 0 0; 
}

p {
   // text-transform: uppercase; 
    font-weight: 300; 
    font-size: 1.6rem; 
    margin: 1rem 0;
}

// mobile css
section {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 1em; 

    .arrow-btn {
        //margin: 1em 0; 
        margin: 0 0; 
        padding: 1em 1em;
        width: 6em; 
        height: 6em; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        background-color: rgba(255, 255, 255, .3); 
        border-style: none;
        border-radius: 50%; 
        transition: transform 0.5s, background-color 0.5s;  


        &:hover {
            transform: scale(1.1);
            background: var(--button-color);

            .arrow {
                path {
                    fill: rgba(255, 255, 255, .9);
                }
            }
        }
    }

    .arrow {
        width: 70%; 
        height: 70%; 
        rotate: 90deg; 

        path {
            fill: #261a4b; 
            transition: fill 0.5s; 
        }
    }

    .album {
        // width: 70vw; 
        // height: 70vw; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        margin: 0 0; 
        gap: 1em; 
        padding: 0 0; 

        .album-cover {
            width: 70vw; 
            height: 70vw; 
        }

        .album-name {
            font-size: 2rem; 
            margin: 0 0; 
            padding: 0 0; 
            //margin-bottom: 1em; 
        }
    }
}

